{%- if include.menu -%}
<nav>
{%- for item in include.menu -%}
  {%- assign node = site.pages | where: "name", item.file | first -%}
  {%- assign url = item.url | default: node.url -%}
  {%- assign title = item.title | default: node.title -%}
  <a href="{{ url | relative_url }}">
    {%- if item.icon -%}
      {%- if item.icon == 'bluesky' -%}
        <svg aria-label="{{ title }}" width="1em" height="1em" viewBox="0 0 24 24" fill="currentColor">
          <path d="M12 10.8c-1.087-2.11-4.04-5.216-7.56-6.6-2.58-1.04-3.44-.2-3.44 1.2 0 1.36.96 7.24 1.44 8.2 1.08 2.2 3.32 2.8 5.4 2.6-3.8 0-6.8 2.4-6.8 6s3 6 6 6c3.313 0 6-2.687 6-6s2.687-6 6-6c3 0 6-2.4 6-6s-3.6-6-6.8-6c2.08.2 4.32-.4 5.4-2.6.48-.96 1.44-6.84 1.44-8.2 0-1.4-.86-2.24-3.44-1.2-3.52 1.384-6.473 4.49-7.56 6.6z"/>
        </svg>
      {%- else -%}
        <svg aria-label="{{ title }}" width="1em" height="1em"><use xlink:href="{{ "/assets/fontawesome/icons.svg" | relative_url }}#{{ item.icon }}"></use></svg>
      {%- endif -%}
    {%- else -%}
      {{ title }}
    {%- endif -%}
  </a>
{%- endfor -%}
</nav>
{%- endif -%}
